.homepage {
  margin: 8px;
  display: grid;
  grid-template-columns: 15% 80%;
  &_filters {
    width: 120px;
    display: flex;
    align-items: center;
    height: fit-content;
    cursor: pointer;
    &_filterIcon {
      width: 18px;
      margin-left: 8px;
    }
    > span {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  &_content {
    &_slider {
      width: 100%;
      margin-top: 48px;
    }
    &_products {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      margin-top: 100px;
      @media only screen and (max-width: 1024px) {
        margin-top: 50px;
        grid-template-columns: 50% 50%;
      }
      @media only screen and (max-width: 425px) {
        margin-top: 50px;
        grid-template-columns: 100%;
      }
    }
  }
  &_ad {
    width: 96%;
    height: 430px;
    object-fit: cover;
  }
}

.slider {
  width: 100%;
}
